<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Day17</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LineServlet</display-name>
    <servlet-name>LineServlet</servlet-name>
    <servlet-class>com.yuzhen.a_request.LineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LineServlet</servlet-name>
    <url-pattern>/LineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BodyServlet</display-name>
    <servlet-name>BodyServlet</servlet-name>
    <servlet-class>com.yuzhen.c_body.BodyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BodyServlet</servlet-name>
    <url-pattern>/BodyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimulateEncode</display-name>
    <servlet-name>SimulateEncode</servlet-name>
    <servlet-class>com.yuzhen.test.SimulateEncode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimulateEncode</servlet-name>
    <url-pattern>/SimulateEncode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loc1</display-name>
    <servlet-name>Loc1</servlet-name>
    <servlet-class>com.yuzhen.d_dispatcher.Loc1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loc1</servlet-name>
    <url-pattern>/Loc1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loc2</display-name>
    <servlet-name>Loc2</servlet-name>
    <servlet-class>com.yuzhen.d_dispatcher.Loc2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loc2</servlet-name>
    <url-pattern>/Loc2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServit</display-name>
    <servlet-name>LoginServit</servlet-name>
    <servlet-class>com.yuzhen.project.LoginServit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServit</servlet-name>
    <url-pattern>/LoginServit</url-pattern>
  </servlet-mapping>
</web-app>